* {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(17, 43, 67);
    color: #eee;
}

body {
    margin: 10px;
}

div.mapping {
    margin: 20px 20px;
}

ul.methods:before {
    content: "Methods: ";
}

ul.methods li {
    display: inline;
    list-style: none;
}

ul.methods li:after {
    content: ",";
}

ul.methods li:last-child:after {
    content: "";
}

ul.arguments:before {
    content: "Arguments: ";
}

ul.arguments li {
    display: inline;
    list-style: none;
}

ul.arguments .argument {
    font-style: italic
}

ul.arguments .default:not(:empty):before {
    content: "(";
}

ul.arguments .default:not(:empty):after {
    content: ")";
}

ul.arguments li:after {
    content: ",";
}

ul.arguments li:last-child:after {
    content: "";
}

.docstring:before {
    content: "Description: ";
}

h2 {
    color: #fff !important;
    border-top: 2px dotted white;
    padding-top: 20px
}