<html>
  <head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/site.webmanifest">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>RazTot Login</title>
  </head>
  <body>
    <div class="login-container">
      <form class="login-form" action="/login" method="post" novalidate>
        <label for="username">Username:</label>
        <input class="input-element" type="text" name="username">
        <label for="password">Password:</label>
        <input class="input-element" type="password" name="password">
        <input class="input-element login-btn" type="submit" value="Login">
      </form>
    </div>
  </body>
</html>
