<html>
    <head>
        <title>
            API Documentation
        </title>
        <link href="./static/css/autodoc.css" rel="stylesheet" type="text/css"/>
        <script src="./static/js/tools/jquery.min.js" type="text/javascript"></script>
        <script src="./static/js/autodoc.js" type="text/javascript"></script>
    </head>
    <body>
        <h1>
            {% if title is defined -%}
                {{title}}
            {% else -%}
                API Documentation
            {% endif -%}
        </h1>

        {% for doc in autodoc %}
        <div class="mapping">
            <a id="rule-{{doc.rule|urlencode}}" class="rule"><h2>{{doc.rule|escape}}</h2></a>
            <ul class="methods">
                    {% for method in doc.methods -%}
                    <li class="method">{{method}}</li>
                    {% endfor %}
            </ul>
            <p class="docstring">{% autoescape false %}{{doc.docstring|urlize|nl2br}}{% endautoescape %}</p>
        </div>
        {% endfor %}
    </body>
</html>
