<head>
    <link rel="stylesheet" href="../static/css/stream.css">

    <script type="text/javascript" src="../static/js/tools/adapter.min.js"></script>
    <script type="text/javascript" src="../static/js/tools/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script type="text/javascript" src="../static/js/tools/bootbox.min.js"></script>

    <script type="text/javascript" src="../static/js/janus.js"></script>
    <script type="text/javascript" src="../static/js/janus-gateway.js"></script>
    <script type="text/javascript" src="../static/js/controller.js"></script>
    <script type="text/javascript" src="../static/js/socket-data.js"></script>

    <link rel="stylesheet" href="../static/css/themes/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/fonts/roboto-mono.css">
    <link rel="stylesheet" href="../static/css/fonts/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/themes/bootstrap-theme.min.css">
    <script src="../static/js/tools/bootstrap.min.js"></script>
    <title>RazTot</title>
</head>

<body>
    <a class="" href="" onclick="return false;" id="start-stream" type="button">Start Stream</a>
    <object id="stream-object">
    </object>
    <div class="button">
        <div id="recording-button" class="inner"></div>
    </div>
    <div class="options-div">
        <div class="options-btn" onclick="this.classList.toggle('active')"><i class="fa fa-cog"></i>
        </div>
        <div class="options">
            <a class="options-item" href="/static/uploads/" type="button">View Recordings</a>
            <a class="options-item" href="" onclick="return false;" id="capture" type="button">Take Picture</a>
            <a class="options-item warning" href="" onclick="return false;" id="clear-drive"
                type="button">Clear Drive</a>
        </div>
    </div>
    <p id="indicator"></p>

    <div style="width: 50%" id="footer">
        <img style="width: 40%" src="../static/img/raztot.svg">
    </div>
    <div id="right-footer">
        <p class="display-info"> Camera Status:
            <b class="option-normal" id="camera-state">Offline</b></p>
        <p class="display-info">Recordings:
            <b class="option-normal" id="acq-name">N/A</b>
        </p>
        <p class="display-info">Stream Status:
            <b class="option-normal" id="stream-status">Off</b>
        </p>
        <p class="display-info">Temperature:
            <b class="option-normal" id="temperature-status">???</b>
        </p>
        <p class="display-info" id="demo-socket">Stream Rate:
            <b class="option-normal" id="curbitrate">0 kbits/sec</b>
        </p>
        <p class="display-info">Storage:
            <b class="option-normal" id="drive-state">??? / ??? GB remaining</b>
        </p>
        <p class="display-info" id="current-version">Version:
            <b class="option-normal" id="version-num">X.X.X</b>
        </p>
        <input type="button" id="toggle-fullscreen" value="Toggle Fullscreen" />
    </div>
    <script src="../static/js/tools/jquery-ui.js" type="text/javascript"></script>
    <link href="../static/css/themes/jquery-ui.css" rel="stylesheet" type="text/css" />
</body>
