<head>
    <link rel="stylesheet" href="/static/css/stream.css">

    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/6.4.0/adapter.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>

    <script type="text/javascript" src="/static/js/janus.js"></script>
    <script type="text/javascript" src="/static/js/janus-gateway.js"></script>
    <script type="text/javascript" src="/static/js/controller.js"></script>
    <script type="text/javascript" src="/static/js/socket-data.js"></script>

    <link rel="stylesheet" href="/static/css/fonts/roboto-mono.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">
    <title>RazTot</title>
</head>

<body>
    <a class="" href="" onclick="return false;" id="start-stream" type="button">Start Stream</a>
    <object id="stream-object">
    </object>
    <div class="button primary">
        <div id="image-button" class="inner-disabled"><i class="fas fa-camera"></i></div>
    </div>
    <div class="button secondary">
        <div id="recording-button" class="inner-disabled"></div>
    </div>
    <div class="options-div">
        <div class="options-btn" onclick="this.classList.toggle('active')"><i class="fa fa-cog"></i>
        </div>
        <div class="options">
            <a class="options-item" href="/static/captures/" target=”_blank” rel=”noopener
                noreferrer” type="button">View Recordings</a>
            <a class="options-item warning" href="" onclick="return false;" id="clear-drive"
                type="button">Clear Recordings</a>
            <a class="options-item" href="/logout">Log Out</a>
        </div>
    </div>
    <p id="indicator"></p>

    <div style="width: 50%" id="footer">
        <img style="width: 25%" src="/static/img/raztot_logo.png">
    </div>
    <div id="right-footer">
        <p class="display-info"> Camera Status:
            <b class="option-normal" id="camera-state">Offline</b></p>
        <p class="display-info">Recordings:
            <b class="option-normal" id="acq-name">N/A</b>
        </p>
        <p class="display-info">Stream Status:
            <b class="option-normal" id="stream-status">Off</b>
        </p>
        <p class="display-info">Temperature:
            <b class="option-normal" id="temperature-status">???</b>
        </p>
        <p class="display-info" id="demo-socket">Stream Rate:
            <b class="option-normal" id="curbitrate">0 kbits/sec</b>
        </p>
        <p class="display-info">Storage:
            <b class="option-normal" id="drive-state">??? / ??? GB remaining</b>
        </p>
        <p class="display-info" id="current-version">Version:
            <b class="option-normal" id="version-num">X.X.X</b>
        </p>
        <input type="button" id="toggle-fullscreen" value="Toggle Fullscreen" />
    </div>
    <script src="../static/js/tools/jquery-ui.js" type="text/javascript"></script>
    <link href="../static/css/themes/jquery-ui.css" rel="stylesheet" type="text/css" />
</body>